<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/createProductStyle.css" type="text/css">
    <title>Carrito</title>
</head>

<body>
    <main>
        <form action="/products/create" method="POST" enctype="multipart/form-data">
            
            <input type="text" name="nombre" placeholder="Nombre">

            <input type="text" name="descripcion" placeholder="Descripcion" maxlength="240"></input>

            <input type="number" name="precio" placeholder="Precio">

            <div class="precio-oferta">
                <input type="checkbox" name="precio-oferta-check">
                <input type="text" name="precio-oferta" placeholder="Precio oferta">
            </div>

            <div class="categoria-select">
                <label>Categorias</label>
                <select name="categoria" class="categoria">
                    <option value="eletrica">Eléctricas</option>
                    <option value="acustica">Acústicas</option>
                    <option value="bajos">Bajos</option>
                    <option value="amplificacion">Amplificación</option>
                    <option value="accesorio">Accesorios</option>
                    <option value="repuesto">Repuestos</option>
                </select>
                <br>
                <label>Sub-categoria</label>
                <select name="sub-categoria" class="sub-categoria">
                    <option value="eletrica">Stratocaster</option>
                    <option value="acustica">Telecaster</option>
                    <option value="bajos">Paul Reed Smith</option>
                    <option value="amplificacion">Solid Guitar</option>
                    <option value="accesorio">Les Paul</option>
                    <option value="repuesto">Superstrat</option>
                </select>
            </div>

            <div class="colores">
                <label for="imagenes-colores">Añadir colores</label>
                <input type="file" name="imagenes-colores" id="imagenes-colores" accept="image/*" multiple>
            </div>

            <div class="cantidad-disponible-div">
                <label for="cantidad-disponible">Cantidad disponible</label>
                <input type="number" name="cantidad-disponible" placeholder="Cantidad disponible">
            </div>

            <div class="caracteristicas">
                <p class="caracteristica-1">
                    <label for="imagenes-colores">Caracteristica 1</label>
                    <input type="text" name="caracteristica-1">
                </p>
                <p class="caracteristica-2">
                    <label for="imagenes-colores">Caracteristica 2</label>
                    <input type="text" name="caracteristica-2">
                </p>
            </div>

            <button type="submit">Enviar</button>

        </form>
    </main>
</body>

</html>