<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/detailStyle.css" type="text/css">
    <title>Detalle</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <section class="producto">
            <h1 class="product-title">AMERICAN ULTRA<br>STRATOCASTER® HSS</h1>
            <div class="product-extra-images">
                <div class="extra-image">
                    <a href="">
                        <img src="/images/guitarras/detalle/1.2.png">
                    </a>
                </div>
                <div class="extra-image">
                    <a href="">
                        <img src="/images/guitarras/detalle/1.3.png">
                    </a>
                </div>
                <div class="extra-image">
                    <a href="">
                        <img src="../images/guitarras/detalle/1.4.png">
                    </a>
                </div>
            </div>
            <div class="product-image">
                <img src="../images/guitarras/detalle/stratocaster1.png">
            </div>
            <div class="producto-descripcion-precio-comprar">
                <h1 class="product-title-inside-div">AMERICAN ULTRA<br>STRATOCASTER® HSS</h1>
                <ul class="nav-carrousel">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="product-price">
                    <span>$10.000</span>
                </div>
                <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi, sed odio
                    fringilla eget sit condimentum. Morbi aenean ligula nunc pellentesque. Nisl fames auctor est mattis
                    quis. Amet, sit sapien mattis fringilla vivamus massa semper ornare.</div>
                <div class="color">
                    <p class="color-title">Color</p>
                    <ul class="color-options">
                        <li><img src="../images/guitarras/colores/colorAzul.png" alt="color blue"></li>
                        <li><img src="../images/guitarras/colores/colorNaranja.png" alt="color naranja"></li>
                        <li><img src="../images/guitarras/colores/colorNegro.png" alt="color negro"></li>
                        <li><img src="../images/guitarras/colores/colorRojo.png" alt="color rojo"></li>
                        <li><img src="../images/guitarras/colores/colorPerlaAzul.png" alt="color perla azul"></li>
                    </ul>
                </div>
                <div class="product-stock-disponible">
                    <span>(50 disponibles)</span>
                    <div class="product-cantidad">
                        <span>Cantidad:</span>
                        <span><i class="fa-solid fa-angle-up"></i></span>
                    </div>
                </div>
                <div class="product-comprar">
                    <a href="">
                        <button type="button">
                            Comprar ahora
                        </button>
                    </a>
                </div>
                <div class="product-agregar-carrito">
                    <a href="/carrito">
                        <button type="button">
                            Agregar al carrito
                        </button>
                    </a>
                </div>
            </div>
        </section>
        <section class="caracteristicas-especificaciones">
            <div class="caracteristicas">
                <h2 class="caracteristicas-title">Caracteristicas</h2>
                <div class="caracteristicas-list">
                    <img src="../images/list-caracteristicas.svg">
                    <span>Lorem ipsum</span>
                </div>
                <div class="caracteristicas-list">
                    <img src="../images/list-caracteristicas.svg">
                    <span>Lorem ipsum</span>
                </div>
                <div class="caracteristicas-list">
                    <img src="../images/list-caracteristicas.svg">
                    <span>Lorem ipsum</span>
                </div>
                <div class="caracteristicas-list">
                    <img src="../images/list-caracteristicas.svg">
                    <span>Lorem ipsum</span>
                </div>
            </div>
            </div>
            <div class="especificaciones">
                <h2 class="especificaciones-title">Especificaciones</h2>
                <ul class="especificaciones-list">
                    <h3 class="especificaciones-list-titulo">Cuerpo</h3>
                    <ul class="especifcaciones-list-cuerpo">
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                    <h3 class="especificaciones-list-titulo">Mastil</h3>
                    <ul class="especifcaciones-list-mastil">
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                    <h3 class="especificaciones-list-titulo">Accesorios</h3>
                    <ul class="especifcaciones-list-accesorios">
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>

                </ul>
        </section>
        <section class="productos-similares">
            <span class="similares-title">Productos similares</span>
            <ul class="similares-list">
                <li>
                    <div class="producto-similar">
                        <a href="/detalle">
                            <img src="../images/guitarras/electricas-display/flyingv.png">
                            <div class="producto-similar-descripcion">
                                <span>Lorem ipsum</span>
                            </div>
                    </div>
                    </a>
                    </div>
                </li>
                <li>
                    <div class="producto-similar">
                        <a href="/detalle">
                            <img src="../images/guitarras/electricas-display/prs.png">
                            <div class="producto-similar-descripcion">
                                <span>Lorem ipsum</span>
                            </div>
                    </div>
                    </a>
                    </div>
                </li>
                <li>
                    <div class="producto-similar">
                        <a href="/detalle">
                            <img src="../images/guitarras/electricas-display/lespaul.png">
                            <div class="producto-similar-descripcion">
                                <span>Lorem ipsum</span>
                            </div>
                    </div>
                    </a>
                    </div>
                </li>
                <li>
                    <div class="producto-similar">
                        <a href="/detalle">
                            <img src="../images/guitarras/electricas-display/superstrat.png">
                            <div class="producto-similar-descripcion">
                                <span>Lorem ipsum</span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>