<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/mainListStyle.css" type="text/css">
    <title>Listado de producto</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="main-container">
            <div class="categories-section">
                
            </div>
            <div class="product-grid">
                <div class="guitar-grid">
                    <a href="">
                        <img src="/images/guitarras/listado/stratocaster/stratocasterList1.png"
                            alt="0118020795_gtr_frt_001_rr.png">
                    </a>
                        <div class="guitar-grid-description">
                            <span>Stratocaster RSS</span>
                        </div>
                </div>
                <div class="guitar-grid">
                    <a href="">
                        <img src="/images/guitarras/listado/stratocaster/stratocasterList1.png"
                            alt="0118020795_gtr_frt_001_rr.png">
                    </a>
                        <div class="guitar-grid-description">
                            <span>Stratocaster RSS</span>
                        </div>
                </div>
                <div class="guitar-grid">
                    <a href="">
                        <img src="/images/guitarras/listado/stratocaster/stratocasterList1.png"
                            alt="0118020795_gtr_frt_001_rr.png">
                    </a>
                        <div class="guitar-grid-description">
                            <span>Stratocaster RSS</span>
                        </div>
                </div>
                <div class="guitar-grid">
                    <a href="">
                        <img src="/images/guitarras/listado/stratocaster/stratocasterList1.png"
                            alt="0118020795_gtr_frt_001_rr.png">
                    </a>
                        <div class="guitar-grid-description">
                            <span>Stratocaster RSS</span>
                        </div>
                </div>
                <div class="guitar-grid">
                    <a href="">
                        <img src="/images/guitarras/listado/stratocaster/stratocasterList1.png"
                            alt="0118020795_gtr_frt_001_rr.png">
                    </a>
                        <div class="guitar-grid-description">
                            <span>Stratocaster RSS</span>
                        </div>
                </div>
                <div class="guitar-grid">
                    <a href="">
                        <img src="/images/guitarras/listado/stratocaster/stratocasterList1.png"
                            alt="0118020795_gtr_frt_001_rr.png">
                    </a>
                        <div class="guitar-grid-description">
                            <span>Stratocaster RSS</span>
                        </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>