@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@100;200;300;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color:white;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  
  /* GUITARRAS DESTACADAS Y ULTIMOS INGRESOS */
  .populares {
    width: 90%;
    color: #47525E;
    margin: 0 auto;
  }

  .populares-title {
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
    margin: 0 auto 6vh;
    color: #47525E;
  }

  .populares-guitarras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 10vh;
  }

  .populares-guitar-div {
    max-width: 16%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    transition: background-color, transform 200ms ease;
    padding: 10px;
  }

  .populares-guitar-div:hover {
    transform: scale(1.1);
    background-color: #ffffff5d;
    box-shadow: 0px 0px 8px rgb(100, 100, 100, 0.5);
    opacity: 1;
  }

  .popular-guitar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #47525E;
    font-size: 1em;
  }

  .popular-guitar-link img {
    width: 100%;
  }

  .popular-guitar-price {
    opacity: 0;
    color: #47525E;
    transition: opacity 600ms ease;
  }

  .populares-guitar-div:hover a>.popular-guitar-price {
    opacity: 1;
  }
}


@media (min-width: 0px) and (max-width: 1279px) {

  /* GUITARRAS DESTACADAS Y ULTIMOS INGRESOS */
  .populares {
    width: 90%;
    margin: 6vh auto;
    color: #47525E;
  }

  .populares-title {
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
    margin: 0 auto 8vh;
    color: #47525E;
  }

  .populares-guitarras {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
  }

  .populares-guitar-div {
    flex-basis: 14%;
    margin-bottom: 7vh;
  }

  .popular-guitar-link {
    display: flex;
    flex-direction: column;
    color: #47525E;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-weight: bold;
  }

  .popular-guitar-link img {
    width: 100%;
  }

  .popular-guitar-price {
    display: none;
    color: #47525E;
  }
}

/* CARROUSEL */

.main-carrousel {
  position: relative;
  width: 100%;
  left: 0;
  z-index: -1;
  font-size: 16px;
}

.main-carrousel img {
  width: 100%;
  margin: 0 auto;
}

.texto-banner {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-right: 6vw;
  text-align: right;
  color: white;
}

.text-banner-titulo {
  font-size: 20px;
  margin: 0;
  text-align: right;
}

.nombre-guitarra-banner {
  font-size: 72px;
  font-weight: 900;
  font-style: italic;
}

.carrousel-changer {
  margin: 15px 0px;
  background-color: transparent;
  height: 3px;
  width: 100%;
}

.carrousel-changer ul {
  display: flex;
  width: 20%;
  height: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.carrousel-changer ul li {
  display: block;
  position: relative;
  height: 100%;
  width: 50px;
  background-color: white;
  margin: 0px 10px;
  transition: background-color 500ms ease-in-out;
}

.carrousel-changer ul li button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

.carrousel-changer ul li button:focus {
  background-color: red;
}

/* MAX-WIDTH: 768px */

@media (min-width: 0px) and (max-width: 768px) {

  /* CARROUSEL */
  .main-carrousel {
    display: none;
  }

  .carrousel-changer {
    display: none;
  }

  /* GUITARRAS DESTACADAS Y ULTIMOS INGRESOS */

  .populares-guitar-div {
    flex-basis: 40%;
    margin-bottom: 7vh;
    color: #47525E;
  }

  .populares-title {
    font-size: 8vw;
  }

  .popular-guitar-name {
    font-size: 3.5vw;
    color: #47525E;
  }
}