@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@100;200;300;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #47525E;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    border-radius: 64px;
}

.main-container {
    padding: 40px;
}

.logo-user {
    text-align: center;
}

.logo-user i {
    font-size: 50px;
    color: #47525E;
}

.register-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.register-login a {
    color: #47525E;
    text-decoration: none;
}

.login-title {
    background-color: white;
    font-size: 32px;
    margin: 0;
    margin-left: 10px;
    padding: 10px;
    border-radius: 18px;
}

.register-title {
    margin: 0 10px;
    font-size: 22px;
    opacity: 0.5;
}

form {
    text-align: center;
    border-radius: 70px;
}

form div {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 20px;
}

form div label {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

form div input {
    height: 40px;
    padding: 0 5px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-family: 'Montserrat', 'Nunito', sans-serif;
    width: 100%;
}

form div input::placeholder {
    font-family: 'Montserrat', 'Nunito', sans-serif;
    opacity: 0.5;
}

.div-recordar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin-left: 5px;
}

.div-recordar label{
    display: inline;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.div-recordar input{
    padding: 0;
    height: 15px;
    width: 15px;
    margin: 0;
}

 /* ERRORES */
.error {
    padding: 0;
    margin: 0;
    color: red;
}

.cuentas-externas {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}


.select-cuenta-externa {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.select-cuenta-externa a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    color: #47525E;
    text-decoration: none;
}

.select-cuenta-externa img {
    width: 32px;
    height: auto;
    margin: 0 15px;
}

.select-cuenta-externa p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
}

.boton-submit {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #47525E;
    height: 44px;
    margin: 25px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 100ms linear;
}

.boton-submit:hover {
    background-color: #38414b;
}

.boton-submit button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-weight: 600;
    outline: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    align-self: center;
}

.boton-submit:active {
    transform: scale(0.98);
}

.container-signin {
    margin: 0 auto;
}

.container-signin p {
    text-align: center;
    margin: 20px 0 0;
    font-weight: 500;
}