<!DOCTYPE html>
<html lang="es_MX">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a853d3fc21.js" crossorigin="anonymous"></script>
    <title>Home GuitarWeb</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="navbar-logo">
                <a href="/"><img src="images/logo.png" alt="Logo de página"></a>
            </div>
            <div class="navbar-categories">
                <ul class="navbar-categories-list">
                    <li id="navbar-electricas">
                        <a href="/" class="navbar-categories-link">
                            <span>Eléctricas</span><i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-electricas">
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/strato.png" alt="Stratocaster"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Stratocaster</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/telecaster.png" alt="Telecaster"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Telecaster</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/lespaul.png" alt="Les Paul" class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Les Paul</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/prs.png" alt="Paul Reed Smith"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Paul Reed Smith</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/superstrat.png" alt="Superstrat"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Superstrat</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/sg.png" alt="SG" class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Solid Guitar</div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li id="navbar-actusticas">
                        <a href="/" class="navbar-categories-link">
                            <span>Acústicas</span><i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-acusticas"></div>
                        </div>
                    </li>
                    <li id="navbar-bajos">
                        <a href="/" class="navbar-categories-link">
                            <span>Bajos</span><i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-bajoss"></div>
                        </div>
                    </li>
                    <li id="navbar-amplificacion">
                        <a href="/" class="navbar-categories-link">
                            <span>Amplificación</span><i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-amplificacion"></div>
                        </div>
                    </li>
                    <li id="navbar-accesorios">
                        <a href="/" class="navbar-categories-link">
                            <span>Accesorios</span><i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-accesorios"></div>
                        </div>
                    </li>
                    <li id="navbar-repuestos">
                        <a href="/" class="navbar-categories-link">
                            <span>Repuestos</span><i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-repuestos"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-account-cart">
                <a class="navbar-account-cart-link">
                    <i class="fa-solid fa-user"></i>
                </a>
                <a class="navbar-account-cart-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </header>
    <main>
        <section class="main-carrousel">
            <div class="main-banner">
                <img src="images/guitarras/bannerimage.jpg" alt="banner">
                <div class="texto-banner">
                    <div class="text-banner-titulo">Próximamente</div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>