<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="css/homeStyle.css" type="text/css">
    <title>Home</title>
</head>

<body>
    <%- include('partials/header') %> 
    <main>
        <section class="main-carrousel">
            <img src="images/guitarras/guitarrabanner.png" alt="banner">
            <div class="texto-banner">
                <div class="text-banner-titulo">PRÓXIMAMENTE</div>
                <div class="nombre-guitarra-banner">IBANEZ</div>
            </div>
            </div>
        </section>
        <div class="carrousel-changer">
            <ul>
                <li>
                    <button type="button" id="button-slide-01"></button>
                </li>
                <li>
                    <button type="button" id="button-slide-02"></button>
                </li>
                <li>
                    <button type="button" id="button-slide-03"></button>
                </li>
                <li>
                    <button type="button" id="button-slide-04"></button>
                </li>
            </ul>
        </div>
        <div class="populares">
            <h2 class="populares-title">DESTACADOS</h2>
            <div class="populares-guitarras">
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularA.png" alt="Stratocaster negra">
                        <div class="popular-guitar-name">STRATOCASTER<br>NEGRA</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularB.png" alt="Stratocaster classic">
                        <div class="popular-guitar-name">STRATOCASTER<br>CLASSIC</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularC.png" alt="Stratocaster bluelight">
                        <div class="popular-guitar-name">STRATOCASTER<br>BLUELIGHT</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularD.png" alt="Stratocaster acoustic">
                        <div class="popular-guitar-name">STRATOCASTER<br>ACOUSTIC</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="populares">
            <h2 class="populares-title">ÚLTIMOS INGRESOS</h2>
            <div class="populares-guitarras">
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularA.png" alt="Stratocaster negra">
                        <div class="popular-guitar-name">STRATOCASTER<br>NEGRA</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularB.png" alt="Stratocaster classic">
                        <div class="popular-guitar-name">STRATOCASTER<br>CLASSIC</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularC.png" alt="Stratocaster bluelight">
                        <div class="popular-guitar-name">STRATOCASTER<br>BLUELIGHT</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/detalles/guitar-popularD.png" alt="Stratocaster acoustic">
                        <div class="popular-guitar-name">STRATOCASTER<br>ACOUSTIC</div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>