<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homeStyle.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a853d3fc21.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="navbar-logo-leftmenu">
                <div class="navbar-menu-icon">
                    <button type="button" id="button-display-enter">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="navbar-menu-tablet">
                        <ul class="navbar-menu-tablet-categories">
                            <li><a class="navbar-menu-tablet-link">Eléctricas</a></li>
                            <li><a class="navbar-menu-tablet-link">Acústicas</a></li>
                            <li><a class="navbar-menu-tablet-link">Bajos</a></li>
                            <li><a class="navbar-menu-tablet-link">Amplificación</a></li>
                            <li><a class="navbar-menu-tablet-link">Accesorios</a></li>
                            <li><a class="navbar-menu-tablet-link">Repuestos</a></li>
                        </ul>
                    </div>
                </div>
                <a href="/"><img src="images/logo.png" alt="Logo de página"></a>
            </div>
            <div class="searchbar-div">
                <input type="text" name="searchbar" id="searchbar">
                <button class="searchbar-button" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="navbar-account-cart">
                <a class="navbar-account-cart-link">
                    <i class="fa-solid fa-user"></i>
                </a>
                <a class="navbar-account-cart-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
            <div class="navbar-categories">
                <ul class="navbar-categories-list">
                    <li id="navbar-electricas">
                        <a href="/" class="navbar-categories-link">
                            Eléctricas<i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-electricas">
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/strato.png" alt="Stratocaster"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Stratocaster</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/telecaster.png" alt="Telecaster"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Telecaster</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/lespaul.png" alt="Les Paul" class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Les Paul</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/prs.png" alt="Paul Reed Smith"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Paul Reed Smith</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/superstrat.png" alt="Superstrat"
                                        class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Superstrat</div>
                                </a>
                                <a href="/" class="display-image-link">
                                    <img src="images/guitarras/sg.png" alt="SG" class="display-image-guitar">
                                    <div class="display-nombre-guitarra">Solid Guitar</div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li id="navbar-actusticas">
                        <a href="/" class="navbar-categories-link">
                            Acústicas<i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-acusticas"></div>
                        </div>
                    </li>
                    <li id="navbar-bajos">
                        <a href="/" class="navbar-categories-link">
                            Bajos<i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-bajoss"></div>
                        </div>
                    </li>
                    <li id="navbar-amplificacion">
                        <a href="/" class="navbar-categories-link">
                            Amplificación<i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-amplificacion"></div>
                        </div>
                    </li>
                    <li id="navbar-accesorios">
                        <a href="/" class="navbar-categories-link">
                            Accesorios<i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-accesorios"></div>
                        </div>
                    </li>
                    <li id="navbar-repuestos">
                        <a href="/" class="navbar-categories-link">
                            Repuestos<i class="fa-solid fa-angle-down"></i>
                        </a>
                        <div class="navbar-categories-display">
                            <div class="navbar-menu-display-repuestos"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section class="main-carrousel">
            <img src="images/guitarras/guitarrabanner.png" alt="banner">
            <div class="texto-banner">
                <div class="text-banner-titulo">PRÓXIMAMENTE</div>
                <div class="nombre-guitarra-banner">IBANEZ</div>
            </div>
            </div>
        </section>
        <div class="carrousel-changer">
            <ul>
                <li>
                    <button type="button" id="button-slide-01"></button>
                </li>
                <li>
                    <button type="button" id="button-slide-02"></button>
                </li>
                <li>
                    <button type="button" id="button-slide-03"></button>
                </li>
                <li>
                    <button type="button" id="button-slide-04"></button>
                </li>
            </ul>
        </div>
        <div class="populares">
            <div class="populares-title">DESTACADOS</div>
            <div class="populares-guitarras">
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularA.png" alt="Stratocaster negra">
                        <div class="popular-guitar-name">STRATOCASTER<br>NEGRA</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularB.png" alt="Stratocaster classic">
                        <div class="popular-guitar-name">STRATOCASTER<br>CLASSIC</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularC.png" alt="Stratocaster bluelight">
                        <div class="popular-guitar-name">STRATOCASTER<br>BLUELIGHT</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularD.png" alt="Stratocaster acoustic">
                        <div class="popular-guitar-name">STRATOCASTER<br>ACOUSTIC</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="populares">
            <div class="populares-title">ÚLTIMOS INGRESOS</div>
            <div class="populares-guitarras">
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularA.png" alt="Stratocaster negra">
                        <div class="popular-guitar-name">STRATOCASTER<br>NEGRA</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularB.png" alt="Stratocaster classic">
                        <div class="popular-guitar-name">STRATOCASTER<br>CLASSIC</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularC.png" alt="Stratocaster bluelight">
                        <div class="popular-guitar-name">STRATOCASTER<br>BLUELIGHT</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
                <div class="populares-guitar-div">
                    <a href="/" class="popular-guitar-link">
                        <img src="images/guitarras/guitar-popularD.png" alt="Stratocaster acoustic">
                        <div class="popular-guitar-name">STRATOCASTER<br>ACOUSTIC</div>
                        <div class="popular-guitar-price">$$$$</div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>