<header>
    <nav role="navigation" class="navbar">
        <div id="menuToggle">
            <input type="checkbox">
            <span id="primer-span"></span>
            <span id="segundo-span"></span>
            <span id="tercer-span"></span>
            <ul id="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="searchbar">
            <input type="checkbox">
            <button class="searchbar-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <div class="searchbar-div">
                <input type="text" name="searchbar" id="searchbar-input">
            </div>
        </div>
        <div class="nav-logo">
            <a class="nav-logo-link">
                <i class="fa-solid fa-bandage"></i>
            </a>
        </div>
        <div class="nav-cart">
            <button type="button" class="nav-account-cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
        <div class="nav-account">
            <button type="button" class="nav-account-cart">
                <i class="fa-solid fa-user"></i>
            </button>
        </div>
        <div class="nav-categories">
            <ul class="nav-categories-list">
                <li id="nav-electricas">
                    <a href="/" class="nav-categories-link">
                        Eléctricas<i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="nav-categories-display">
                        <div class="nav-menu-display-electricas">
                            <a href="/" class="display-image-link">
                                <img src="images/guitarras/strato.png" alt="Stratocaster" class="display-image-guitar">
                                <div class="display-nombre-guitarra">Stratocaster</div>
                            </a>
                            <a href="/" class="display-image-link">
                                <img src="images/guitarras/telecaster.png" alt="Telecaster"
                                    class="display-image-guitar">
                                <div class="display-nombre-guitarra">Telecaster</div>
                            </a>
                            <a href="/" class="display-image-link">
                                <img src="images/guitarras/lespaul.png" alt="Les Paul" class="display-image-guitar">
                                <div class="display-nombre-guitarra">Les Paul</div>
                            </a>
                            <a href="/" class="display-image-link">
                                <img src="images/guitarras/prs.png" alt="Paul Reed Smith" class="display-image-guitar">
                                <div class="display-nombre-guitarra">Paul Reed Smith</div>
                            </a>
                            <a href="/" class="display-image-link">
                                <img src="images/guitarras/superstrat.png" alt="Superstrat"
                                    class="display-image-guitar">
                                <div class="display-nombre-guitarra">Superstrat</div>
                            </a>
                            <a href="/" class="display-image-link">
                                <img src="images/guitarras/sg.png" alt="SG" class="display-image-guitar">
                                <div class="display-nombre-guitarra">Solid Guitar</div>
                            </a>
                        </div>
                    </div>
                </li>
                <li id="nav-actusticas">
                    <a href="/" class="nav-categories-link">
                        Acústicas<i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="nav-categories-display">
                        <div class="nav-menu-display-acusticas"></div>
                    </div>
                </li>
                <li id="nav-bajos">
                    <a href="/" class="nav-categories-link">
                        Bajos<i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="nav-categories-display">
                        <div class="nav-menu-display-bajoss"></div>
                    </div>
                </li>
                <li id="nav-amplificacion">
                    <a href="/" class="nav-categories-link">
                        Amplificación<i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="nav-categories-display">
                        <div class="nav-menu-display-amplificacion"></div>
                    </div>
                </li>
                <li id="nav-accesorios">
                    <a href="/" class="nav-categories-link">
                        Accesorios<i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="nav-categories-display">
                        <div class="nav-menu-display-accesorios"></div>
                    </div>
                </li>
                <li id="nav-repuestos">
                    <a href="/" class="nav-categories-link">
                        Repuestos<i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="nav-categories-display">
                        <div class="nav-menu-display-repuestos"></div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>