@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@100;200;300;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

main{
    margin: 0;
}

.main-container{
    max-width: 1280px;
    width: 100%;
    margin: 64px auto 0;
    display: flex;
    flex-direction: row;
}

.categories-section{
    flex-basis: 25%;
    background-color: #ebebeb;
}

.product-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 70%;
    margin: 0 auto;
}

.guitar-grid{
    max-width: 33%;
    flex-basis: 33%;
    padding: 0 10px;
    margin-bottom: 40px;
}

.guitar-grid a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 32px;
    background-color: #f9f9f9;
}

.guitar-grid a img{
    width: auto;
    max-height: 500px;
}

.guitar-grid-description{
    padding: 15px;
    margin: 0;
    color: white;
    background-color: #47525E;
    text-align: center;
    border-radius: 0 0 20px 20px;
}